@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    font-family: 'UncutSans', sans-serif;
    @apply bg-white text-black dark:bg-black dark:text-white;
  }

  @font-face {
    font-family: 'UncutSans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
      local('UncutSans'),
      url('/fonts/UncutSans-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'UncutSans';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src:
      local('UncutSans'),
      url('/fonts/UncutSans-Semibold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'UncutSans';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
      local('UncutSans'),
      url('/fonts/UncutSans-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'UncutSans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
      local('UncutSans'),
      url('/fonts/UncutSans-Regular.woff2') format('woff2');
  }
}
