---
import Layout from '../layouts/Layout.astro'
import { HOME, SOCIALS } from '../consts'
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <section>
    <h1
      class="w-full pb-6 text-start text-[min(12vw,72px)] leading-[0.9] font-medium tracking-[-2px] sm:tracking-[-4px]">
      Kane Vidzro,<br />
      <span class="text-gray-500 dark:text-gray-400">CEO of Xtottel</span>
    </h1>
    <div id="about" class="flex flex-col gap-4">
      <div
        class="flex flex-col gap-6 text-lg font-medium text-gray-700 dark:text-gray-400">
        <p>
          I am a 17-year-old Software Developer and entrepreneur. As the
          hands-on CEO of
          <a
            href="https://xtottel.com"
            target="_blank"
            class="underline underline-offset-2 hover:text-gray-900 dark:hover:text-gray-100">
            Xtottel
          </a>, I lead the mission to pioneer <b>Scalable SaaS in Africa</b>.
        </p>

        <p>
          My work is rooted in architecting and building high-performance
          <b>communication APIs and payment solutions</b>, leveraging a modern
          stack built for reliability and speed in the African market.
        </p>
      </div>

      <div id="social-links" class="flex flex-row gap-4">
        {
          SOCIALS.map((SOCIAL) => (
            <a
              href={SOCIAL.URL}
              target="_blank"
              class="text-lg font-medium text-gray-700 underline-offset-2 hover:text-gray-900 hover:underline dark:text-gray-400 dark:hover:text-gray-100">
              {SOCIAL.NAME}
            </a>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
