---
import Link from './Link.astro'
import ThemeSwitcher from './Switcher.astro'
import { menuItems } from '../consts'
---

<header class="w-full py-6">
  <div class="flex w-full items-center justify-between">
    <nav class="flex items-center gap-4 font-medium text-black dark:text-white">
      {menuItems.map((item) => (
        <Link href={item.url}>{item.label}</Link>
      ))}
    </nav>

    <ThemeSwitcher />
  </div>
</header>
