---
import Link from './Link.astro'
import ThemeSwitcher from './Switcher.astro'
import { menuItems } from '../consts'
---

<header>
  <div class="flex w-full flex-row items-center justify-between">
    <div class="flex flex-row items-start gap-3 font-medium text-black">
      {menuItems.map((item) => <Link href={item.url}>{item.label}</Link>)}
    </div>
    <ThemeSwitcher />
  </div>
</header>
