---
import PageLayout from '../../layouts/Layout.astro'
import { PROJECTS } from '../../consts.ts'
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <section>
    <h1 class="w-full pb-8 text-7xl font-medium tracking-tight">
      {PROJECTS.TITLE.toLowerCase()}
    </h1>
  </section>
</PageLayout>
